<div align="right" style=" font-size: 80%; text-align: center; margin: 0 auto">
<img src="https://raw.githubusercontent.com/Explore-AI/Pictures/master/ExploreAI_logos/Logo blue_dark.png"  style="width:25px" align="right";/>
</div>

# Caveat on dropping tables with relations
© ExploreAI Academy

In this notebook, we demonstrate how to drop a table that is being referenced by another table using a foreign key.

> ⚠️ This notebook will not run on Google Colab because it cannot connect to a local database. Please make sure that this notebook is running on the same local machine as your MySQL Workbench installation and MySQL `united_nations` database.

## Learning objectives

By the end of this train, you should:
- Understand how to drop a table that is being referenced by another table.

## Connecting to our MySQL database
Using our `Access_to_Basic_Services` table created in MySQL Workbench, we want to answer some questions on the range of our dataset. We can apply the same queries in MySQL Workbench and in this notebook if we connect to our MySQL server. Since we have a MySQL database, we can connect to it using mysql and pymysql.

In [1]:
# Load and activate the SQL extension to allow us to execute SQL in a Jupyter notebook. 
# If you get an error here, make sure that mysql and pymysql are installed correctly. 

%load_ext sql

In [2]:
# Establish a connection to the local database using the '%sql' magic command.
# Replace 'password' with our connection password and `db_name` with our database name. 
# If you get an error here, please make sure the database name or password is correct.

%sql mysql+pymysql://root:classcaptain@localhost:3306/united_nations

Connecting to 'mysql+pymysql://root:***@localhost:3306/united_nations'

To make a query, we add the `%%sql` command to the start of a cell, create one open line and then the query like below, and run the cell.

In [3]:
%%sql

SELECT 
    *
FROM
    Access_to_Basic_Services
LIMIT 5;

Running query in 'mysql+pymysql://root:***@localhost:3306/united_nations'

5 rows affected.

+---------------------------+--------------+--------------+-------------+-------------------------------------+---------------------------------+----------------------------+---------------------+------------+------------------+
|           Region          |  Sub_region  | Country_name | Time_period | Pct_managed_drinking_water_services | Pct_managed_sanitation_services | Est_population_in_millions | Est_gdp_in_billions | Land_area  | Pct_unemployment |
+---------------------------+--------------+--------------+-------------+-------------------------------------+---------------------------------+----------------------------+---------------------+------------+------------------+
| Central and Southern Asia | Central Asia |  Kazakhstan  |     2015    |                94.67                |              98.00              |         17.542806          |        184.39       | 2699700.00 |       4.93       |
| Central and Southern Asia | Central Asia |  Kazakhstan  |     2016    |                94.67                |              98.00              |         17.794055          |        137.28       | 2699700.00 |       4.96       |
| Central and Southern Asia | Central Asia |  Kazakhstan  |     2017    |                95.00                |              98.00              |         18.037776          |        166.81       | 2699700.00 |       4.90       |
| Central and Southern Asia | Central Asia |  Kazakhstan  |     2018    |                95.00                |              98.00              |         18.276452          |        179.34       | 2699700.00 |       4.85       |
| Central and Southern Asia | Central Asia |  Kazakhstan  |     2019    |                95.00                |              98.00              |         18.513673          |        181.67       | 2699700.00 |       4.80       |
+---------------------------+--------------+--------------+-------------+-------------------------------------+---------------------------------+----------------------------+---------------------+------------+------------------+

## Exercise

Suppose we no longer have use for our newly created tables (`Basic_Services`, `Geographic_Location`, and `Economic_Indicators`) and want to drop them from our database.

### 1. Drop `Geographic location`, `Basic_Services`,  and `Economic_Indicators` tables.

In the following three cells, write the queries that will drop all of these tables from our dataset *in the correct order*.

In [4]:
%%sql
DROP TABLE economic_indicators;

Running query in 'mysql+pymysql://root:***@localhost:3306/united_nations'

RuntimeError: (pymysql.err.OperationalError) (1051, "Unknown table 'united_nations.economic_indicators'")
[SQL: DROP TABLE economic_indicators;]
(Background on this error at: https://sqlalche.me/e/14/e3q8)
If you need help solving this issue, send us a message: https://ploomber.io/community

In [5]:
%%sql
DROP TABLE basic_services;

Running query in 'mysql+pymysql://root:***@localhost:3306/united_nations'

RuntimeError: (pymysql.err.OperationalError) (1051, "Unknown table 'united_nations.basic_services'")
[SQL: DROP TABLE basic_services;]
(Background on this error at: https://sqlalche.me/e/14/e3q8)
If you need help solving this issue, send us a message: https://ploomber.io/community

In [6]:
%%sql
DROP TABLE geographic_location;

Running query in 'mysql+pymysql://root:***@localhost:3306/united_nations'

RuntimeError: (pymysql.err.OperationalError) (1051, "Unknown table 'united_nations.geographic_location'")
[SQL: DROP TABLE geographic_location;]
(Background on this error at: https://sqlalche.me/e/14/e3q8)
If you need help solving this issue, send us a message: https://ploomber.io/community

## Solution

### 1. Drop the `Economic_Indicators` table.

In [7]:
%%sql

DROP TABLE Economic_Indicators;

Running query in 'mysql+pymysql://root:***@localhost:3306/united_nations'

RuntimeError: (pymysql.err.OperationalError) (1051, "Unknown table 'united_nations.economic_indicators'")
[SQL: DROP TABLE Economic_Indicators;]
(Background on this error at: https://sqlalche.me/e/14/e3q8)
If you need help solving this issue, send us a message: https://ploomber.io/community

### 2.  Drop the `Basic_Services` table.

In [8]:
%%sql

DROP TABLE Basic_Services;

Running query in 'mysql+pymysql://root:***@localhost:3306/united_nations'

RuntimeError: (pymysql.err.OperationalError) (1051, "Unknown table 'united_nations.basic_services'")
[SQL: DROP TABLE Basic_Services;]
(Background on this error at: https://sqlalche.me/e/14/e3q8)
If you need help solving this issue, send us a message: https://ploomber.io/community

### 3. Drop the `Geographic_Location` table.

In [9]:
%%sql

DROP TABLE Geographic_Location;

Running query in 'mysql+pymysql://root:***@localhost:3306/united_nations'

RuntimeError: (pymysql.err.OperationalError) (1051, "Unknown table 'united_nations.geographic_location'")
[SQL: DROP TABLE Geographic_Location;]
(Background on this error at: https://sqlalche.me/e/14/e3q8)
If you need help solving this issue, send us a message: https://ploomber.io/community

Since the `Geographic_Location` table's **primary key** is also a **foreign key** in the other two tables, the **foreign key restriction** prevents us from deleting it. 
This makes sense since, if the table is deleted, the `Economic_Indicators` and `Basic_Services` tables will no longer have a reference from which to obtain the country names for their respective tables. Furthermore, **a foreign key cannot exist if it doesn't also exist as a primary key in another table.**

Therefore, we would need to drop the tables that reference the  `Geographic_Location` table first or remove the foreign key constraints in order to delete it.

Since we are deleting all of the tables anyway, we **drop the tables that reference the  `Geographic_Location` table instead.**

We start by dropping the `Economic_Indicators` table, then drop the `Basic_Services` table which can be dropped in any order, and finally, we can drop the `Geographic_Location` table.

The modifications we performed above permanently removed the `Economic_Indicators`, `Basic_Services`, and `Geographic_Location` tables from our database. We would need to re-add those tables to the `united_nations` database because we will require them in future lessons. Running the code in the cell below will re-add the tables for us.

In [8]:
%%sql
CREATE TABLE united_nations.Geographic_Location(
  Country_name VARCHAR(37) PRIMARY KEY,
  Sub_region VARCHAR(25),
  Region VARCHAR(32),
  Land_area NUMERIC(10,2));

/* Adding data */
%%sql
INSERT INTO united_nations.Geographic_Location (Country_name, Sub_region,Region, Land_area)
SELECT  Country_name
        Sub_region,
        Region,
        AVG(Land_area) as Country_area
FROM united_nations.Access_to_Basic_Services
GROUP BY Country_name,
        Sub_region,
        Region;


/* Create Economic_Indicators Table */
%%sql
CREATE TABLE united_nations.Economic_Indicators (
  Country_name VARCHAR(37),
  Time_period INTEGER,
  Est_gdp_in_billions NUMERIC(8,2),
  Est_population_in_millions NUMERIC(11,6),
  Pct_unemployment NUMERIC(5,2),
  PRIMARY KEY (Country_name, Time_period),
  FOREIGN KEY (Country_name) REFERENCES Geographic_Location (Country_name));
  
/* Adding data */
%%sql
INSERT INTO Economic_Indicators (Country_name, Time_period, Est_gdp_in_billions, Est_population_in_millions, Pct_unemployment)
SELECT Country_name,
        Time_period,
        Est_gdp_in_billions,
        Est_population_in_millions,
        Pct_unemployment    
FROM united_nations.Access_to_Basic_Services;


/* Create Basic_Services Table */
%%sql
CREATE TABLE united_nations.Basic_Services (
  Country_name VARCHAR(37),
  Time_period INTEGER,
  Pct_managed_drinking_water_services NUMERIC(5,2),
  Pct_managed_sanitation_services NUMERIC(5,2),
  PRIMARY KEY (Country_name, Time_period),
  FOREIGN KEY (Country_name) REFERENCES Geographic_Location (Country_name)
);
/* Adding data */
%%sql
INSERT INTO Basic_Services (Country_name, Time_period, Pct_managed_drinking_water_services, Pct_managed_sanitation_services)
SELECT Country_name,
    Time_period,
    Pct_managed_drinking_water_services,
    Pct_managed_sanitation_services
FROM united_nations.Access_to_Basic_Services;

UsageError: Cell magic `%%sql` not found.

<div align="center" style=" font-size: 80%; text-align: center; margin: 0 auto">
<img src="https://raw.githubusercontent.com/Explore-AI/Pictures/master/ExploreAI_logos/EAI_Blue_Dark.png"  style="width:200px";/>
</div>