# Using logical and comparison operators
© ExploreAI Academy

> ⚠️ This notebook will not run on Google Colab because it cannot connect to a local database. Please make sure that this notebook is running on the same local machine as your MySQL Workbench installation and MySQL `united_nations` database.

## Learning Objectives

- Understand the concept of logic and comparison operators in SQL.
- Learn how to use the WHERE clause to filter data based on specific conditions.
- Understand the use of IN, BETWEEN, and other SQL operators to streamline queries.

## Overview

In this notebook, we will explore the use of logic and comparison operators in SQL to filter and extract specific data from a dataset. These operators are essential tools in SQL that allow us to narrow down our data based on certain conditions.

We will be working with the `united_nations.Access_to_Basic_Services` table, which contains information about different countries, their GDP, access to basic services, and more.

### Connecting to our MySQL database

Since we have a MySQL database, we can connect to it using mysql and pymysql.

In [7]:
!pip install sqlalchemy==1.4.46

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: sqlalchemy==1.4.46 in c:\users\tonny ogolla\appdata\roaming\python\python311\site-packages (1.4.46)
Requirement already satisfied: greenlet!=0.4.17 in c:\programdata\anaconda3\envs\sql_packages\lib\site-packages (from sqlalchemy==1.4.46) (2.0.1)

In [8]:
# load and activate the SQL extension to allows us to execute SQL in a Jupyter notebook

%load_ext sql

The sql extension is already loaded. To reload it, use:
  %reload_ext sql

In [9]:
# establish a connection to the local database using the '%sql' magic command,
# replace 'password' with our connection password and `db_name` with our database name

%sql mysql+pymysql://root:classcaptain@localhost:3306/united_nations

Connecting to 'mysql+pymysql://root:***@localhost:3306/united_nations'

## Exercise

### Task 1: Basic Filtering with Comparison Operators

You will be working with the `united_nations.Access_to_Basic_Services` table.
The columns to `SELECT` include 
- `Country_name`
- `Time_period`
- `Pct_managed_drinking_water_services`
- `Pct_managed_sanitation_services`
- `Est_population_in_millions`
- and `Est_gdp_in_billions`


Use the `WHERE` clause to filter out records of specific countries: 
- `Nigeria`, 
- `Ethiopia`, 
- `Congo`, 
- `Egypt`, 
- `Tanzania`, 
- `Kenya`, 
- and `South Africa`
- for the time period between `2019` and `2020`.
Utilize the `OR` operator to include multiple countries in your filter.

In [10]:
%%sql
-- Add your code here
SELECT
    Country_name,
    Time_period,
    Pct_managed_drinking_water_services,
    Pct_managed_sanitation_services,
    Est_population_in_millions,
    Est_gdp_in_billions
FROM
    united_nations.Access_to_Basic_Services
WHERE
    Country_name IN("Nigeria","Ethiopia","Congo","Egypt","Tanzania","Kenya","South Africa")
AND time_period BETWEEN 2019 AND 2020;

Running query in 'mysql+pymysql://root:***@localhost:3306/united_nations'

12 rows affected.

+--------------+-------------+-------------------------------------+---------------------------------+----------------------------+---------------------+
| Country_name | Time_period | Pct_managed_drinking_water_services | Pct_managed_sanitation_services | Est_population_in_millions | Est_gdp_in_billions |
+--------------+-------------+-------------------------------------+---------------------------------+----------------------------+---------------------+
|    Egypt     |     2019    |                99.33                |              97.00              |            None            |         None        |
|    Egypt     |     2020    |                99.33                |              97.67              |            None            |         None        |
|   Ethiopia   |     2019    |                57.00                |              11.67              |         114.120594         |        95.91        |
|   Ethiopia   |     2020    |                58.00                |              11.67              |         117.190911         |        107.66       |
|    Kenya     |     2019    |                66.33                |              33.33              |         50.951450          |        100.38       |
|    Kenya     |     2020    |                67.00                |              33.67              |         51.985780          |        100.67       |
|    Congo     |     2019    |                69.00                |              17.67              |            None            |         None        |
|    Congo     |     2020    |                69.00                |              17.67              |            None            |         None        |
| South Africa |     2019    |                91.67                |              78.00              |         58.087055          |        388.53       |
| South Africa |     2020    |                92.00                |              78.67              |         58.801927          |        337.62       |
+--------------+-------------+-------------------------------------+---------------------------------+----------------------------+---------------------+
Truncated to displaylimit of 10.

In [13]:
%%sql
-- Add your code here
SELECT 
    Country_name, 
    Time_period, 
    Pct_managed_drinking_water_services, 
    Pct_managed_sanitation_services, 
    Est_population_in_millions,
    Est_gdp_in_billions  
FROM 
    united_nations.Access_to_Basic_Services 
WHERE 
    Country_name = 'Nigeria' 
    OR Country_name = 'Ethiopia' 
    OR Country_name = 'Congo' 
    OR Country_name = 'Egypt' 
    OR Country_name = 'Tanzania' 
    OR Country_name = 'Kenya' 
    OR Country_name ='South Africa'
AND Time_period BETWEEN 2019 AND 2020;

Running query in 'mysql+pymysql://root:***@localhost:3306/united_nations'

32 rows affected.

+--------------+-------------+-------------------------------------+---------------------------------+----------------------------+---------------------+
| Country_name | Time_period | Pct_managed_drinking_water_services | Pct_managed_sanitation_services | Est_population_in_millions | Est_gdp_in_billions |
+--------------+-------------+-------------------------------------+---------------------------------+----------------------------+---------------------+
|    Egypt     |     2015    |                99.33                |              96.33              |            None            |         None        |
|    Egypt     |     2016    |                99.33                |              96.33              |            None            |         None        |
|    Egypt     |     2017    |                99.33                |              96.33              |            None            |         None        |
|    Egypt     |     2018    |                99.33                |              97.00              |            None            |         None        |
|    Egypt     |     2019    |                99.33                |              97.00              |            None            |         None        |
|    Egypt     |     2020    |                99.33                |              97.67              |            None            |         None        |
|   Ethiopia   |     2015    |                52.00                |              10.67              |         102.471895         |        64.59        |
|   Ethiopia   |     2016    |                53.33                |              11.00              |         105.293228         |        74.30        |
|   Ethiopia   |     2017    |                54.67                |              11.00              |         108.197950         |        81.77        |
|   Ethiopia   |     2018    |                55.67                |              11.33              |         111.129438         |        84.27        |
+--------------+-------------+-------------------------------------+---------------------------------+----------------------------+---------------------+
Truncated to displaylimit of 10.

### Task 2: Streamlining with the IN Operator

Building on the first task, you might have noticed that using multiple `OR` operators can make the query lengthy and a bit complicated. The 'IN' operator offers a more efficient way to achieve the same result.
The `IN` operator allows you to specify multiple values in a `WHERE` clause, making the query more concise.
Try to retrieve data for the same list of countries for the same time range, but this time, use the `IN` operator to simplify your query.

In [16]:
%%sql
-- Add your code here
SELECT
    Country_name,
    Time_period,
    Pct_managed_drinking_water_services,
    Pct_managed_sanitation_services,
    Est_population_in_millions,
    Est_gdp_in_billions
FROM
    united_nations.Access_to_Basic_Services
WHERE
    Country_name IN("Nigeria","Ethiopia","Congo","Egypt","Tanzania","Kenya","South Africa")
AND time_period BETWEEN 2019 AND 2020;

Running query in 'mysql+pymysql://root:***@localhost:3306/united_nations'

12 rows affected.

+--------------+-------------+-------------------------------------+---------------------------------+----------------------------+---------------------+
| Country_name | Time_period | Pct_managed_drinking_water_services | Pct_managed_sanitation_services | Est_population_in_millions | Est_gdp_in_billions |
+--------------+-------------+-------------------------------------+---------------------------------+----------------------------+---------------------+
|    Egypt     |     2019    |                99.33                |              97.00              |            None            |         None        |
|    Egypt     |     2020    |                99.33                |              97.67              |            None            |         None        |
|   Ethiopia   |     2019    |                57.00                |              11.67              |         114.120594         |        95.91        |
|   Ethiopia   |     2020    |                58.00                |              11.67              |         117.190911         |        107.66       |
|    Kenya     |     2019    |                66.33                |              33.33              |         50.951450          |        100.38       |
|    Kenya     |     2020    |                67.00                |              33.67              |         51.985780          |        100.67       |
|    Congo     |     2019    |                69.00                |              17.67              |            None            |         None        |
|    Congo     |     2020    |                69.00                |              17.67              |            None            |         None        |
| South Africa |     2019    |                91.67                |              78.00              |         58.087055          |        388.53       |
| South Africa |     2020    |                92.00                |              78.67              |         58.801927          |        337.62       |
+--------------+-------------+-------------------------------------+---------------------------------+----------------------------+---------------------+
Truncated to displaylimit of 10.

### Task 3: Combining Multiple Conditions

The `<=` operator is a comparison operator that checks if the value on the left is less than or equal to the value on the right. In this task, you'll use it to filter countries based on specific service percentages.
You'll continue working with the `united_nations.Access_to_Basic_Services` table.
The columns to be selected for this task are 
- `Region`, 
- `Country_name`, 
- `Time_period`, 
- `Pct_managed_drinking_water_services`, 
- `Pct_managed_sanitation_services`, 
- `Est_population_in_millions`, and 
- `Est_gdp_in_billions`.

Your goal is to extract data for the year 2020, focusing on countries where less than or equal to 50% of the population has access to sanitation services. This will help identify countries with critical sanitation needs.
By using the `<=` operator with the `Pct_managed_sanitation_services` column, you can filter out countries that exceed this threshold, leaving only those with the most pressing sanitation challenges.

In [19]:
%%sql
-- Add your code here
SELECT
    Region,
    Country_name,
    Time_period,
    Pct_managed_drinking_water_services,
    Pct_managed_sanitation_services,
    Est_population_in_millions,
    Est_gdp_in_billions
FROM
    united_nations.Access_to_Basic_Services
WHERE Time_period=2020 AND Pct_managed_sanitation_services<=50;

Running query in 'mysql+pymysql://root:***@localhost:3306/united_nations'

41 rows affected.

+----------------------------------+------------------+-------------+-------------------------------------+---------------------------------+----------------------------+---------------------+
|              Region              |   Country_name   | Time_period | Pct_managed_drinking_water_services | Pct_managed_sanitation_services | Est_population_in_millions | Est_gdp_in_billions |
+----------------------------------+------------------+-------------+-------------------------------------+---------------------------------+----------------------------+---------------------+
| Latin America and the Caribbean  |      Haiti       |     2020    |                65.00                |              36.00              |         11.306801          |        14.51        |
| Northern Africa and Western Asia |      Sudan       |     2020    |                62.33                |              40.33              |         44.440486          |        27.03        |
|             Oceania              | Papua New Guinea |     2020    |                56.67                |              27.67              |          9.749640          |        23.85        |
|             Oceania              | Solomon Islands  |     2020    |                72.33                |              44.67              |          0.691191          |         1.54        |
|             Oceania              |     Kiribati     |     2020    |                77.00                |              45.33              |          0.126463          |         0.18        |
|        Sub-Saharan Africa        |     Burundi      |     2020    |                70.33                |              44.33              |         12.220227          |         2.65        |
|        Sub-Saharan Africa        |     Ethiopia     |     2020    |                58.00                |              11.67              |         117.190911         |        107.66       |
|        Sub-Saharan Africa        |      Kenya       |     2020    |                67.00                |              33.67              |         51.985780          |        100.67       |
|        Sub-Saharan Africa        |    Madagascar    |     2020    |                56.33                |              13.00              |         28.225177          |        13.05        |
|        Sub-Saharan Africa        |      Malawi      |     2020    |                74.33                |              28.67              |         19.377061          |        12.18        |
+----------------------------------+------------------+-------------+-------------------------------------+---------------------------------+----------------------------+---------------------+
Truncated to displaylimit of 10.

## Solutions

### Task 1: Basic Filtering with Comparison Operators

In [21]:
%%sql
-- Add your code here
SELECT 
    Country_name,
    Time_period, 
    Pct_managed_drinking_water_services, 
    Pct_managed_sanitation_services, 
    Est_population_in_millions,
    Est_gdp_in_billions  
FROM 
united_nations.Access_to_Basic_Services 
WHERE 
    Country_name = 'Nigeria' 
    OR Country_name = 'Ethiopia' 
    OR Country_name = 'Congo' 
    OR Country_name = 'Egypt' 
    OR Country_name = 'Tanzania' 
    OR Country_name = 'Kenya' 
    OR Country_name ='South Africa'
AND Time_period BETWEEN 2019 AND 2020;

Running query in 'mysql+pymysql://root:***@localhost:3306/united_nations'

32 rows affected.

+--------------+-------------+-------------------------------------+---------------------------------+----------------------------+---------------------+
| Country_name | Time_period | Pct_managed_drinking_water_services | Pct_managed_sanitation_services | Est_population_in_millions | Est_gdp_in_billions |
+--------------+-------------+-------------------------------------+---------------------------------+----------------------------+---------------------+
|    Egypt     |     2015    |                99.33                |              96.33              |            None            |         None        |
|    Egypt     |     2016    |                99.33                |              96.33              |            None            |         None        |
|    Egypt     |     2017    |                99.33                |              96.33              |            None            |         None        |
|    Egypt     |     2018    |                99.33                |              97.00              |            None            |         None        |
|    Egypt     |     2019    |                99.33                |              97.00              |            None            |         None        |
|    Egypt     |     2020    |                99.33                |              97.67              |            None            |         None        |
|   Ethiopia   |     2015    |                52.00                |              10.67              |         102.471895         |        64.59        |
|   Ethiopia   |     2016    |                53.33                |              11.00              |         105.293228         |        74.30        |
|   Ethiopia   |     2017    |                54.67                |              11.00              |         108.197950         |        81.77        |
|   Ethiopia   |     2018    |                55.67                |              11.33              |         111.129438         |        84.27        |
+--------------+-------------+-------------------------------------+---------------------------------+----------------------------+---------------------+
Truncated to displaylimit of 10.

### Task 2: Streamlining with the IN Operator

In [14]:
%%sql
SELECT 
Country_name,
Time_period, 
Pct_managed_drinking_water_services, 
Pct_managed_sanitation_services, 
Est_population_in_millions, 
Est_gdp_in_billions 
FROM 
united_nations.Access_to_Basic_Services 
WHERE 
Country_name IN (
        'Nigeria', 
        'Ethiopia' , 
        'Congo', 
        'Egypt', 
        'Tanzania', 
        'Kenya', 
        'South Africa'
 )
AND Time_period BETWEEN 2019 AND 2020;

Running query in 'mysql+pymysql://root:***@localhost:3306/united_nations'

12 rows affected.

+--------------+-------------+-------------------------------------+---------------------------------+----------------------------+---------------------+
| Country_name | Time_period | Pct_managed_drinking_water_services | Pct_managed_sanitation_services | Est_population_in_millions | Est_gdp_in_billions |
+--------------+-------------+-------------------------------------+---------------------------------+----------------------------+---------------------+
|    Egypt     |     2019    |                99.33                |              97.00              |            None            |         None        |
|    Egypt     |     2020    |                99.33                |              97.67              |            None            |         None        |
|   Ethiopia   |     2019    |                57.00                |              11.67              |         114.120594         |        95.91        |
|   Ethiopia   |     2020    |                58.00                |              11.67              |         117.190911         |        107.66       |
|    Kenya     |     2019    |                66.33                |              33.33              |         50.951450          |        100.38       |
|    Kenya     |     2020    |                67.00                |              33.67              |         51.985780          |        100.67       |
|    Congo     |     2019    |                69.00                |              17.67              |            None            |         None        |
|    Congo     |     2020    |                69.00                |              17.67              |            None            |         None        |
| South Africa |     2019    |                91.67                |              78.00              |         58.087055          |        388.53       |
| South Africa |     2020    |                92.00                |              78.67              |         58.801927          |        337.62       |
+--------------+-------------+-------------------------------------+---------------------------------+----------------------------+---------------------+
Truncated to displaylimit of 10.

### Task 3: Combining Multiple Conditions

In [20]:
%%sql
SELECT 
Region,
Country_name, 	 
Time_period, 
Pct_managed_drinking_water_services, 
Pct_managed_sanitation_services, 
Est_population_in_millions, 
Est_gdp_in_billions 
FROM 
united_nations.Access_to_Basic_Services 
WHERE 
Time_period = 2020
AND Pct_managed_sanitation_services <= 50;

Running query in 'mysql+pymysql://root:***@localhost:3306/united_nations'

41 rows affected.

+----------------------------------+------------------+-------------+-------------------------------------+---------------------------------+----------------------------+---------------------+
|              Region              |   Country_name   | Time_period | Pct_managed_drinking_water_services | Pct_managed_sanitation_services | Est_population_in_millions | Est_gdp_in_billions |
+----------------------------------+------------------+-------------+-------------------------------------+---------------------------------+----------------------------+---------------------+
| Latin America and the Caribbean  |      Haiti       |     2020    |                65.00                |              36.00              |         11.306801          |        14.51        |
| Northern Africa and Western Asia |      Sudan       |     2020    |                62.33                |              40.33              |         44.440486          |        27.03        |
|             Oceania              | Papua New Guinea |     2020    |                56.67                |              27.67              |          9.749640          |        23.85        |
|             Oceania              | Solomon Islands  |     2020    |                72.33                |              44.67              |          0.691191          |         1.54        |
|             Oceania              |     Kiribati     |     2020    |                77.00                |              45.33              |          0.126463          |         0.18        |
|        Sub-Saharan Africa        |     Burundi      |     2020    |                70.33                |              44.33              |         12.220227          |         2.65        |
|        Sub-Saharan Africa        |     Ethiopia     |     2020    |                58.00                |              11.67              |         117.190911         |        107.66       |
|        Sub-Saharan Africa        |      Kenya       |     2020    |                67.00                |              33.67              |         51.985780          |        100.67       |
|        Sub-Saharan Africa        |    Madagascar    |     2020    |                56.33                |              13.00              |         28.225177          |        13.05        |
|        Sub-Saharan Africa        |      Malawi      |     2020    |                74.33                |              28.67              |         19.377061          |        12.18        |
+----------------------------------+------------------+-------------+-------------------------------------+---------------------------------+----------------------------+---------------------+
Truncated to displaylimit of 10.

<div align="center" style=" font-size: 80%; text-align: center; margin: 0 auto">
<img src="https://raw.githubusercontent.com/Explore-AI/Pictures/master/ExploreAI_logos/EAI_Blue_Dark.png"  style="width:200px";/>
</div>