# Preparing the environment

In [6]:
#prepare SQL environment
%load_ext sql

The sql extension is already loaded. To reload it, use:
  %reload_ext sql

In [7]:
%sql mysql+pymysql://root:classcaptain@localhost:3306/united_nations

Connecting and switching to connection 'mysql+pymysql://root:***@localhost:3306/united_nations'

In [8]:
%%sql
SELECT
    *
FROM
    united_nations.Access_to_basic_services
Limit 10;

Running query in 'mysql+pymysql://root:***@localhost:3306/united_nations'

10 rows affected.

+---------------------------+--------------+--------------+-------------+-------------------------------------+---------------------------------+----------------------------+---------------------+------------+------------------+
|           Region          |  Sub_region  | Country_name | Time_period | Pct_managed_drinking_water_services | Pct_managed_sanitation_services | Est_population_in_millions | Est_gdp_in_billions | Land_area  | Pct_unemployment |
+---------------------------+--------------+--------------+-------------+-------------------------------------+---------------------------------+----------------------------+---------------------+------------+------------------+
| Central and Southern Asia | Central Asia |  Kazakhstan  |     2015    |                94.67                |              98.00              |         17.542806          |        184.39       | 2699700.00 |       4.93       |
| Central and Southern Asia | Central Asia |  Kazakhstan  |     2016    |                94.67                |              98.00              |         17.794055          |        137.28       | 2699700.00 |       4.96       |
| Central and Southern Asia | Central Asia |  Kazakhstan  |     2017    |                95.00                |              98.00              |         18.037776          |        166.81       | 2699700.00 |       4.90       |
| Central and Southern Asia | Central Asia |  Kazakhstan  |     2018    |                95.00                |              98.00              |         18.276452          |        179.34       | 2699700.00 |       4.85       |
| Central and Southern Asia | Central Asia |  Kazakhstan  |     2019    |                95.00                |              98.00              |         18.513673          |        181.67       | 2699700.00 |       4.80       |
| Central and Southern Asia | Central Asia |  Kazakhstan  |     2020    |                95.00                |              98.00              |         18.755666          |        171.08       | 2699700.00 |       4.89       |
| Central and Southern Asia | Central Asia |  Kyrgyzstan  |     2015    |                89.67                |              96.67              |            None            |         None        |    None    |       None       |
| Central and Southern Asia | Central Asia |  Kyrgyzstan  |     2016    |                90.33                |              96.67              |            None            |         None        |    None    |       None       |
| Central and Southern Asia | Central Asia |  Kyrgyzstan  |     2017    |                91.00                |              97.33              |            None            |         None        |    None    |       None       |
| Central and Southern Asia | Central Asia |  Kyrgyzstan  |     2018    |                91.33                |              97.33              |            None            |         None        |    None    |       None       |
+---------------------------+--------------+--------------+-------------+-------------------------------------+---------------------------------+----------------------------+---------------------+------------+------------------+
Truncated to displaylimit of 10.

# Serverless SQL Architecture

In [9]:
%load_ext sql

The sql extension is already loaded. To reload it, use:
  %reload_ext sql

In [10]:
%sql sqlite:///chinook.db

Switching to connection 'sqlite:///chinook.db'

In [11]:
%%sql
SELECT
    FirstName,
    LastName,
    HireDate
FROM
    employees;

Running query in 'sqlite:///chinook.db'

+-----------+----------+---------------------+
| FirstName | LastName |       HireDate      |
+-----------+----------+---------------------+
|   Andrew  |  Adams   | 2002-08-14 00:00:00 |
|   Nancy   | Edwards  | 2002-05-01 00:00:00 |
|    Jane   | Peacock  | 2002-04-01 00:00:00 |
|  Margaret |   Park   | 2003-05-03 00:00:00 |
|   Steve   | Johnson  | 2003-10-17 00:00:00 |
|  Michael  | Mitchell | 2003-10-17 00:00:00 |
|   Robert  |   King   | 2004-01-02 00:00:00 |
|   Laura   | Callahan | 2004-03-04 00:00:00 |
+-----------+----------+---------------------+