<div align="right" style=" font-size: 80%; text-align: center; margin: 0 auto">
<img src="https://raw.githubusercontent.com/Explore-AI/Pictures/master/ExploreAI_logos/Logo blue_dark.png"  style="width:25px" align="right";/>
</div>

# SQL numeric functions and aggregations
© ExploreAI Academy

In this exercise, we will apply SQL numeric functions and aggregations to query a few tables in our Northwind database. Ensure that you have downloaded the database file, Northwind.db.

## Learning objectives

By the end of this train, you should:
- Be able to apply AVG, SUM, MAX, MIN, and COUNT functions.
- Know how to aggregate data at different levels using the GROUP BY clause. 
- Understand how to  order and limit the results.

First, let's load our sample database:

In [1]:
# Load and activate the SQL extension to allow us to execute SQL in a Jupyter notebook.
%load_ext sql

In [2]:
# Load the Northwind database stored in your local machine. 
# Make sure the file is saved in the same folder as this notebook.
%sql sqlite:///Northwind.db

Connecting to 'sqlite:///Northwind.db'

Here is a view of all of our tables in the database:

<div align="center" style=" font-size: 80%; text-align: center; margin: 0 auto">
<img src="https://raw.githubusercontent.com/Explore-AI/Pictures/master/Northwind_ERD.png"  style="width:500px";/>
<br>
<br>
    <em>Figure 1: Northwind ERD</em>
</div>

## Exercise

Run the necessary queries that will provide us with the following information. Compare your queries with the solutions at the end of this notebook.

### Exercise 1

Display the average unit price of products in the 'Products' table.

In [3]:
%%sql
SELECT
    AVG(UnitPrice) AS Avg_unit_price
FROM
    Products;

Running query in 'sqlite:///Northwind.db'

+--------------------+
|   Avg_unit_price   |
+--------------------+
| 28.866363636363637 |
+--------------------+

### Exercise 2


Show the total quantity of products sold for each ProductID. Use the 'OrderDetails' table.

In [6]:
%%sql
SELECT
    ProductID,
    SUM(Quantity)
FROM
    OrderDetails
GROUP BY ProductID;

Running query in 'sqlite:///Northwind.db'

+-----------+---------------+
| ProductID | SUM(Quantity) |
+-----------+---------------+
|     1     |      828      |
|     2     |      1057     |
|     3     |      328      |
|     4     |      453      |
|     5     |      298      |
|     6     |      301      |
|     7     |      763      |
|     8     |      372      |
|     9     |       95      |
|     10    |      742      |
+-----------+---------------+
Truncated to displaylimit of 10.

### Exercise 3


Find the maximum, minimum, and average freight from the 'Orders' table.

In [8]:
%%sql
SELECT
    MIN(Freight) AS Min_freight,
    MAX(Freight) AS Max_freight,
    AVG(Freight) AS Avg_freight
FROM
    Orders;

Running query in 'sqlite:///Northwind.db'

+-------------+-------------+-------------------+
| Min_freight | Max_freight |    Avg_freight    |
+-------------+-------------+-------------------+
|     0.02    |   1007.64   | 78.24420481927719 |
+-------------+-------------+-------------------+

### Exercise 4

How many unique customers have made orders? Use the 'Orders' table.

In [10]:
%%sql
SELECT
    COUNT(DISTINCT CustomerID) AS Number_of_customers
FROM
    Orders;

Running query in 'sqlite:///Northwind.db'

+---------------------+
| Number_of_customers |
+---------------------+
|          89         |
+---------------------+

### Exercise 5

What is the total price for each order? You need to multiply the unit price by the quantity and subtract the discount for each order detail, then sum all the order details for each order. Use the 'OrderDetails' table.

In [13]:
%%sql
SELECT
    OrderID,
    SUM(Quantity*UnitPrice*(1-Discount)) AS Total_price
FROM
    OrderDetails
GROUP BY OrderID;

Running query in 'sqlite:///Northwind.db'

+---------+--------------------+
| OrderID |    Total_price     |
+---------+--------------------+
|  10248  |       440.0        |
|  10249  |       1863.4       |
|  10250  |       1813.0       |
|  10251  |       670.8        |
|  10252  |       3730.0       |
|  10253  | 1444.8000000000002 |
|  10254  |       625.2        |
|  10255  |       2490.5       |
|  10256  |       517.8        |
|  10257  |       1119.9       |
+---------+--------------------+
Truncated to displaylimit of 10.

### Challenge question

What are the 5 largest orders processed? (Hint: Use the 'OrderDetails' table.)

In [19]:
%%sql
SELECT
    OrderID,
    SUM(QUANTITY) AS TotalQuantity
FROM
    OrderDetails
GROUP BY OrderID
ORDER BY TotalQuantity DESC
Limit 5;

Running query in 'sqlite:///Northwind.db'

+---------+---------------+
| OrderID | TotalQuantity |
+---------+---------------+
|  10895  |      346      |
|  11030  |      330      |
|  10847  |      288      |
|  10515  |      286      |
|  10678  |      280      |
+---------+---------------+

## Solutions

### Exercise 1

In [4]:
%%sql

SELECT 
    AVG(UnitPrice) 
FROM 
    Products;

Running query in 'sqlite:///Northwind.db'

+--------------------+
|   AVG(UnitPrice)   |
+--------------------+
| 28.866363636363637 |
+--------------------+

### Exercise 2

In [7]:
%%sql

SELECT 
    ProductID,
    SUM(Quantity) as TotalQuantity
FROM 
    OrderDetails
GROUP BY 
    ProductID;

Running query in 'sqlite:///Northwind.db'

+-----------+---------------+
| ProductID | TotalQuantity |
+-----------+---------------+
|     1     |      828      |
|     2     |      1057     |
|     3     |      328      |
|     4     |      453      |
|     5     |      298      |
|     6     |      301      |
|     7     |      763      |
|     8     |      372      |
|     9     |       95      |
|     10    |      742      |
+-----------+---------------+
Truncated to displaylimit of 10.

### Exercise 3

In [9]:
%%sql

SELECT 
    MAX(Freight) as MaxFreight,
    MIN(Freight) as MinFreight,
    AVG(Freight) as AvgFreight
FROM 
    Orders;

Running query in 'sqlite:///Northwind.db'

+------------+------------+-------------------+
| MaxFreight | MinFreight |     AvgFreight    |
+------------+------------+-------------------+
|  1007.64   |    0.02    | 78.24420481927719 |
+------------+------------+-------------------+

### Exercise 4

In [11]:
%%sql

SELECT 
    COUNT(DISTINCT CustomerID) 
FROM 
    Orders;

Running query in 'sqlite:///Northwind.db'

+----------------------------+
| COUNT(DISTINCT CustomerID) |
+----------------------------+
|             89             |
+----------------------------+

### Exercise 5

In [14]:
%%sql

SELECT 
    OrderID, 
    SUM(UnitPrice * Quantity * (1 - Discount)) as TotalPrice 
FROM 
    OrderDetails
GROUP BY 
    OrderID;

Running query in 'sqlite:///Northwind.db'

+---------+--------------------+
| OrderID |     TotalPrice     |
+---------+--------------------+
|  10248  |       440.0        |
|  10249  |       1863.4       |
|  10250  |       1813.0       |
|  10251  |       670.8        |
|  10252  |       3730.0       |
|  10253  | 1444.8000000000002 |
|  10254  |       625.2        |
|  10255  |       2490.5       |
|  10256  |       517.8        |
|  10257  |       1119.9       |
+---------+--------------------+
Truncated to displaylimit of 10.

### Challenge question

In [18]:
%%sql

SELECT 
    OrderID, 
    SUM(Quantity) as TotalQuantity 
FROM 
    OrderDetails
GROUP BY 
    OrderID
ORDER BY 
    TotalQuantity DESC 
LIMIT 5;

Running query in 'sqlite:///Northwind.db'

+---------+---------------+
| OrderID | TotalQuantity |
+---------+---------------+
|  10895  |      346      |
|  11030  |      330      |
|  10847  |      288      |
|  10515  |      286      |
|  10678  |      280      |
+---------+---------------+

<div align="center" style=" font-size: 80%; text-align: center; margin: 0 auto">
<img src="https://raw.githubusercontent.com/Explore-AI/Pictures/master/ExploreAI_logos/EAI_Blue_Dark.png"  style="width:200px";/>
</div>